# Declaring Dependnecies

In [2]:
# Declare Dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

In [3]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

# Article Scraping

In [4]:
#ignitiated dummy website to scrape the data: 

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
#url we want to scrape 
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [ ]:
# establishing connection with beautiful soup 

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_titles = soup.find_all('div', class_='content_title')
news_p = soup.find_all('div', class_='rollover_description_inner')

In [ ]:
title_list = [title_text.text for title_text in news_titles]
title_list

In [ ]:
paragraph_list = [paragraph_text.text for paragraph_text in news_p]
paragraph_list

In [ ]:
for title in news_titles:
    print('-----------')
    print(title.text)

In [ ]:
for description in news_p:
    print('-----------')
    print(description.text )

# Image scraping

In [ ]:
#image scraping 
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_image_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
#scraping the image 
featured_image = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')

In [ ]:
featured_image = featured_image[1:-1]

In [ ]:
#url main website and image website 
main_url = 'https://www.jpl.nasa.gov'
image_url= main_url + featured_image

In [ ]:
# link to the website 
print (image_url)

# Twitter  Scraping

In [ ]:
#twitter scraping 
mars_weather_twitter = 'https://twitter.com/marswxreport?lang=en' 
browser.visit(mars_weather_twitter)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
#finding latest tweets on Mars Twitter acount 
latest_tweet = soup.find_all('div', class_='js-tweet-text-container')

In [ ]:
for tweet in latest_tweet:
    weather_tweets = tweet.find('p').text
    if 'sol' and 'pressure' in weather_tweets:
        print (weather_tweets)
        print("------------------------------------------------------------------------------------------------------");
    else: 
        pass

# Mars Facts

In [4]:
#image scraping 
mars_facts = 'https://space-facts.com/mars/'
browser.visit(mars_facts)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [5]:
facts = soup.find_all('table', class_='tablepress tablepress-id-p-mars')

In [6]:
my_table = soup.find('table',{'class':'tablepress tablepress-id-p-mars'})

In [7]:
my_table

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [8]:
info = my_table.find_all('tr')
mars_facts = [] 
for i in info:
    row = i 
    mars_facts.append(row.get_text('').split(':'))

In [9]:
row = 0
columns = []
while row < 9:
    columns.append(mars_facts[row][0])
    row = row + 1 
columns

['Equatorial Diameter',
 'Polar Diameter',
 'Mass',
 'Moons',
 'Orbit Distance',
 'Orbit Period',
 'Surface Temperature',
 'First Record',
 'Recorded By']

In [10]:
columns

['Equatorial Diameter',
 'Polar Diameter',
 'Mass',
 'Moons',
 'Orbit Distance',
 'Orbit Period',
 'Surface Temperature',
 'First Record',
 'Recorded By']

In [11]:
row = 0
columns_1 = []

while row < 9:
    columns_1.append(mars_facts[row][1])
    row = row + 1

In [12]:
columns_1

['6,792 km',
 '6,752 km',
 '6.39 × 10^23 kg (0.11 Earths)',
 '2 (Phobos & Deimos)',
 '227,943,824 km (1.38 AU)',
 '687 days (1.9 years)',
 ' -87 to -5 °C',
 '2nd millennium BC',
 'Egyptian astronomers']

In [26]:
mars1_df =pd.DataFrame()

In [27]:
mars1_df['Description'] = columns

In [28]:
mars2_df =pd.DataFrame()

In [29]:
mars2_df['Values']=columns_1

In [35]:
mars_facts = mars1_df.merge(mars2_df, left_index = True, right_index=True)
mars_facts

           Description                         Values
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

# Mars Hemisphere

In [10]:
#image scraping 
mars_hemispheres = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemispheres)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
#hempisphere URLS 
hemisphere_image_urls = []
main_url = 'https://astrogeology.usgs.gov'

image_items = soup.find_all('div',class_='item')

print(image_items)

[]

In [8]:
for link in image_items:
    image_name = link.find('h3').get_text
    image_find = link.find('a', class_='itemLink product-item')['href']
    link_to_image = main_url + image_find 
    
    #opening another website using link to image 
    
    browser.visit(link_to_image)
    image_html = browser.html
    soup = BeautifulSoup(image_html, 'html.parser')
    image_url = main_url + soup.find('img', class_='wide-image')['src']
    
    print(image_url)
    
    hemisphere_image_urls.append({"title": image_name , "image_url": image_url})

In [9]:
hemisphere_image_urls

[]